:root {
  --white: hsl(0, 100%, 100%);
  --black: hsl(255, 0%, 0%);
  --grey50: hsl(0, 0%, 98%); //#fafafa
  --grey100: hsl(0, 0%, 94%); //: #efefef
  --grey200: hsl(0, 0%, 85%); //#d8d8d8
  --grey500: hsl(0, 0%, 63%); //#a0a0a0
  --grey800: hsl(0, 0%, 27%); //#444444
  --grey300: #A19C9C;
}
